/**
 * TODO(you): Add the CSS necessary to complete your final project.
 **/
 @import url(https://fonts.googleapis.com/css?family=Merriweather&display=swap);
 
 @import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
 
 body {
  background-color: #fdf5f5;
  height: 80vh;
}
.mp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
  height: 80vh;
}
#tt{
  font-family: Merriweather;
  font-size: 30px;
}
#tb{
  transition:all 0.25s ease;
  border-style: solid;
  border-color: black;
  border-width:2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
#tb:hover{
  background-color: black;
  color: white;
}
.inactive {
  display: none !important;
}
.ct{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Merriweather;
}
#fst{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 100vh;
}
#dt{
  font-size: 30px;
  border-bottom-style: solid;
  border-color: black;
  border-width:2px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
#spa{
  width:60vh;
  height: 40vh;
  background-color: blue;
}
textarea{
  width:60vh;
  height: 40vh;
}
#ds{
  font-family: Merriweather;
}
#home{
}
#pre{

}
#next{

}