/**
 * TODO(you): Add the CSS necessary to complete your final project.
 **/
 @font-face{
  font-family: Merriweather;
  src: url(https://fonts.google.com/specimen/Merriweather);
 }
 @font-face{
  font-family: Montserrat;
  src: url(https://fonts.google.com/specimen/Montserrat);
 }
 body {
  background-color: #fdf5f5;
}
.mp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
}
#tt{
  font-family: Merriweather;
  font-size: 30px;
}
#tb{
  transition:all 0.25s ease;
  border-style: solid;
  border-color: black;
  border-width:2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
#tb:hover{
  background-color: black;
  color: white;
}